body{
	background-color:#ddd;
}

.box01{
	width:200px;
	height:200px;
	background-color:#000;
	float:left;
	margin:20px;
}

.box02{
	width:200px;
	height:200px;
	background-color:blue;
	float:left;
	margin:20px;
}