<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
    <style type="text/css">
       
        .box2 a{
            text-decoration:none;
            font-size:30px;
        }
        .box2 a:nth-child(2){
            color:red;
            margin-left:30px;
        }
        .box2{
            margin-top:5px;
        }
        
        .box3 p{
            position: absolute;
            left:55px;
            top:-9px;
            color:green;
       
        }
    </style>
</head>
<body>
    <div class="box1">
        <div class="box3">
        你好!<p>{{uname}}</p>
        </div>
        <br/>
        <div class="box2">
            <a href='/booktest/session2/'>用户登录</a>
            <a href='/booktest/session3/'>注销账户</a>
        </div>
    </div>
</body>
</html>
