<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页</title>
	<style type="text/css">
		label{
			display:inline-flex;
			width:50px;
			height:30px;
		}
		#uname,#upwd{
			height:16px;
		}
		.box2{
			margin-top:6px;
		}
		.box3{
			margin-top:15px;
			position:absolute;
			left:146px;
		}
	</style>
</head>
<body>
	<form action="/booktest/session2_handel/" method="post">
		<div class="box1">
			<label for="uname">用户名</label>
			<input type="text" name="uname" id="uname">
		</div>
		<div class="box2">
			<label for="upwd">密码</label>
			<input type="password" name="upwd" id="upwd">
		</div>
		<div class="box3">
			<input type="submit" name="" value="登录">
		    <input type="reset" name="" value="重置">
		</div>
	</form>
</body>
</html>
